{% extends 'base.html' %}

{% block title %}
    用户注册
{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        #container {
            width: 1000px;
            height: 600px;
            margin: 0 auto;
        }

        #container h1 {
            margin-top: 50px;
            margin-bottom: 50px;
            margin-left: 300px;
        }

        #container form {
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block newcontent %}
    <div id="container">
        <h1>用户注册</h1><br>
        <form class="form-horizontal" method="POST" action="{{ url_for('user.register') }}">
            <div class="form-group">
                <label for="InputUsername" class="col-md-2 control-label col-md-offset-1">用户名</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="InputUsername" placeholder="Username" name="username"><span></span>
                </div>
            </div>

            <div class="form-group">
                <label for="InputPassword" class="col-md-2 control-label col-md-offset-1">密码</label>
                <div class="col-md-4">
                    <input type="password" class="form-control" id="InputPassword" placeholder="Password"
                           name="password">
                </div>
            </div>

            <div class="form-group">
                <label for="InputConfirm" class="col-md-2 control-label col-md-offset-1">确认密码</label>
                <div class="col-md-4">
                    <input type="password" class="form-control" id="InputConfirm" placeholder="Confirm Password"
                           name="confirmpwd"><span></span>
                </div>
            </div>

            <div class="form-group">
                <label for="InputPhoneNumber" class="col-md-2  control-label col-md-offset-1">手机号码</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="InputPhoneNumber" placeholder="Phone Number"
                           name="phone"><span></span>
                </div>
            </div>

            <div class="form-group">
                <label for="InputEmail" class="col-md-2  control-label col-md-offset-1">邮箱</label>
                <div class="col-md-4">
                    <input type="email" class="form-control" id="InputEmail" placeholder="Email" name="email">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-primary col-md-2">注&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;册
                    </button>
                    <button type="reset" class="btn btn-primary col-md-2 col-md-offset-1">重&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;置</button>
                </div>
            </div>
            <br>
        </form>
    </div>
{% endblock %}

{# 添加JS脚本进行手机号码ajax验证 #}
{% block scripts %}
    {{ super() }}
    <script>
        $('#InputPhoneNumber').blur(function () {
            {# 获取文本框输入的号码 #}
            let phone = $(this).val();
            let span_ele = $(this).next('span');
            if (phone.length == 11) {
                span_ele.text("");
                $.get('{{ url_for('user.isvalid_phone')}}', {phone: phone}, function (data) {
                    if (data.code != 200) {
                        span_ele.css({"color": "#ff0011", "font-size": "12px"});
                        span_ele.text(data.msg);
                    }
                })
            } else {
                span_ele.css({"color": "red", "font-size": "12px"});
                span_ele.text("手机号码格式错误")
            }
        })

    $('#InputUsername').blur(function () {
            {# 获取文本框输入的号码 #}
            let username = $(this).val();
            let span_ele = $(this).next('span');
            span_ele.text("")
                $.get('{{ url_for('user.isvalid_username')}}', {username: username}, function (data) {
                    if (data.code != 200) {
                        span_ele.css({"color": "#ff0011", "font-size": "12px"});
                        span_ele.text(data.msg);
                    }
                })
        })
    </script>
{% endblock %}